<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.intention.sqtwin">

    <!--  <uses-sdk
          android:minSdkVersion="16"
          android:targetSdkVersion="22" />-->
    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- shareSDK 分享的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 手机震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 银联的需要的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--照相系列权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application

        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme.AllActivity"
        tools:replace="android:name">
        <!--<meta-data
            android:name="com.intention.sqtwin.base.BaseGlideCache"
            android:value="GlideModule" />-->


        <activity android:name="com.intention.sqtwin.ui.main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--拍品页-->
        <activity android:name=".ui.main.activity.AuctionItemActivity">


        </activity>
        <!--拍场页-->
        <activity android:name=".ui.main.activity.AuctionFiledActivity">


        </activity>
        <!--艺术家主页-->
        <activity android:name=".ui.main.activity.ArtDetatilActivity">


        </activity>
        <!--拍卖机构页-->
        <activity android:name=".ui.main.activity.AuctionOrgActivity">

        </activity>
        <!--主理人界面-->
        <activity android:name=".ui.main.activity.OrganPeoActivity">

        </activity>
        <!--f分类-->
        <activity android:name=".ui.main.activity.CategoryActivity">

        </activity>
        <!--拍品列表页-->
        <activity android:name=".ui.main.activity.AuctionItemListActivity">

        </activity>

        <!--衍生品界面-->
        <activity android:name=".ui.mall.activity.DerivativesActivity">

        </activity>
        <!--登录界面-->
        <activity
            android:name=".ui.myinfo.activity.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|touchscreen"
            android:theme="@style/LoginActivityTheme" />
        <!--出价列表-->
        <activity android:name=".ui.main.activity.BidRecordActivity" />
        <!--加载H5界面-->
        <activity android:name=".ui.main.activity.MyWebviewActivity" />
        <!--同步拍-->
        <activity android:name=".ui.main.activity.SynchronousAuctionActivity" />
        <!--同步拍拍品页-->
        <activity android:name=".ui.main.activity.SynchAuctionItemActivity" />
        <!--充值界面-->
        <activity android:name=".ui.myinfo.activity.ChargeActivity" />
        <!--充值方式界面-->
        <activity android:name=".ui.myinfo.activity.SelectChargeActivity"/>
        <!--<activity android:name=".ui.myinfo.activity.ChargeWayActivity" />-->
        <!--编辑资料-->
        <activity android:name=".ui.myinfo.activity.EditInfoActivity" />
        <!--订单列表-->
        <activity android:name=".ui.myinfo.activity.OrderListActivity" />
        <!--消息列表-->
        <activity android:name=".ui.myinfo.activity.MessageActicity" />
        <!--账户-->
        <activity android:name=".ui.myinfo.activity.AccountActivity" />

        <!--参拍-->
        <activity android:name=".ui.myinfo.activity.MyCompeteActivity" />
        <!--身份认证-->
        <activity android:name=".ui.myinfo.activity.IdentityProveActivity" />
        <!--绑定手机号-->
        <activity android:name=".ui.myinfo.activity.BindPhoneNumActivity" />
        <!--绑定银行卡-->
        <activity android:name=".ui.myinfo.activity.BindBankCardActivity" />
        <!--收获地址-->
        <activity android:name=".ui.myinfo.activity.ReceivedGoodsActivity" />
        <!--增加收货地址-->
        <activity android:name=".ui.myinfo.activity.AddReAddressActivity" />
        <!--商品详情页-->
        <activity android:name=".ui.mall.activity.GoodsPageActivity" />
        <!--购物车-->
        <activity android:name=".ui.mall.activity.ShopCartActivity" />
        <!--搜索界面-->
        <activity android:name=".ui.main.activity.SearchActivity" />
        <!--店铺-->
        <!--<activity android:name=".ui.Store.activity.TheStoreActivity" />-->
        <!--店铺实名认证流程-->
        <activity android:name=".ui.Store.activity.RealNamePeoOneActivity">

        </activity>
        <!--店铺认证第一步-->
        <activity android:name=".ui.Store.activity.RealCerOneActivity">


        </activity>
        <!--店铺认证，个人信息-->
        <activity android:name=".ui.Store.activity.RealNamePeoTwoActivity" />
        <!--店铺认证，店铺信息-->
        <activity android:name=".ui.Store.activity.StoreInfoCerActivity" />
        <!--企业认证-->
        <activity android:name=".ui.Store.activity.RealNameEnterOneActivity" />
        <activity android:name=".ui.Store.activity.RealNameEnterTwoActivity" />
        <activity android:name=".ui.Store.activity.RealNameEnterThreeActivity" />
        <!--提交-->
        <activity android:name=".ui.Store.activity.SubmitAuditActivity" />
        <!--店铺关注界面-->
        <activity android:name=".ui.Store.activity.StoreFocusActivity" />
        <!--卖家消息-->
        <activity android:name=".ui.Store.activity.StoreMessageActivity" />
        <!--店铺金额-->
        <activity android:name=".ui.Store.activity.StoreRemainingMoneyActivity" />
        <!--店铺报表-->
        <activity android:name=".ui.Store.activity.StoreReportActivity" />
        <!--文本编辑的类，名字修改-->
        <activity android:name=".ui.myinfo.activity.EditTextInputActivity" />
        <!--淘宝店铺信息页面-->
        <activity android:name=".ui.mall.activity.TaoBaoStoreInfoActivity" />
        <!--交易明细-->
        <activity android:name=".ui.Store.activity.TradingDetailActivity" />
        <!--修改密码界面-->
        <activity android:name=".ui.myinfo.activity.SettingPassWordActivity" />
        <!--设置界面-->
        <activity android:name=".ui.myinfo.activity.SettingActivity" />
        <!-- 店铺修改密码-->
        <activity android:name=".ui.myinfo.activity.StorePassWordActivity" />
        <!--确认支付界面 无效-->
        <!--<activity android:name=".ui.myinfo.activity.ChargeWayActivity"-->
        <!--照片的内容提供者-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        <!-- 支付宝支付开始-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- 支付宝支付结束-->
    </application>

</manifest>